@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", serif;
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


/* custom swiper styles for featured jobs */

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-pagination .swiper-pagination-bullet {
  background-color: #E8E8E8; 
  width: 15px;
  height: 15px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #001571; 
  width: 15px; 
  height: 15px;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1; 
}

.slider-wrapper {
  position: relative;
  overflow: visible; 
}


.swiper-container {
  position: relative;
  overflow: visible;
}

.swiper-button-prev-custom {
  position: absolute;
  left: 0px;
  width: calc((100% - 1280px) / 2);
  height: 100%;
  color: #001571;
}

.swiper-button-next-custom {
  position: absolute;
  right: 0px;
  width: calc((100% - 1280px) / 2);
  height: 100%;
  color: #001571;
}

.swiper-container .swiper-button-prev-custom,
.swiper-container .swiper-button-next-custom {
  width: 40px;
  height: 40px;
}



